<% if @quotes.empty? %>
  <span class="empty-list">EMPTY</span>
<% else %>
  <% @quotes.each do |quote| %>
    <div style="margin-bottom: 1rem;">
      <span class="small-text"><%= full_title_line(quote.work) %></span>

      <div class="indented small-text">
        <i><%= quote.text.truncate(100) %></i> |
        <% quote_resource = [quote.work, quote] # .includes %>
        <%= link_to "👉", quote_resource, class: "index-link" %>
      </div>
    </div>
  <% end %>
<% end %>