<% if @quotes.empty? %>
  <div class="div-list-row empty-list">EMPTY</div>
<% else %>
  <% @quotes.each_with_index do |quote, i| %>
    <% class_list = ["div-list-row"]; class_list << "alt-row" if i.even? %>
    <%= tag.div(**{ class: class_list }) do %>
      <%# TODO: flex %>
      <i><%= quote.text.truncate(100) %></i>
      <% quote_resource = [@work, quote] %>
      <div>
        <%= link_to "👉", quote_resource, class: "index-link" %>
      </div>
    <% end %>
  <% end %>
<% end %>