<% if @quotes.empty? %>
  <span class="empty-list">EMPTY</span>
<% else %>
  <% @quotes.each do |quote| %>
    <li>
      <%= link_to quote.text.truncate(50), [@work, quote], class: "index-link" %>
    </li>
  <% end %>
<% end %>