<h1>Editing quote</h1>

<%= render "form", quote: @quote %>

<br>

<div class="nav-links outline">
  <%= link_to "Show this quote", [@work, @quote], class: "nav-button" %> |
  <%= link_to "Back to quotes", work_quotes_path(@work), class: "nav-button" %>
</div>