<h1>Editing Quote</h1>

<div class="outline">
  <%= render "form", quote: @quote %>
</div>

<div class="nav-links outline">
  <%= link_to "Show this quote", [@work, @quote], class: "nav-button" %> |
  <%= link_to "Back to quotes", work_quotes_path(@work), class: "nav-button" %>
</div>