<h1>New Quote</h1>

<div class="outline">
  <%= render "form", quote: @quote %>
</div>

<div class="nav-links outline">
  <%= link_to "Back to Book Quotes", work_quotes_path(@work), class: "nav-button" %>
  <%= link_to "Back to All Quotes", quotes_path, class: "nav-button" %>
</div>