<h1>Editing note</h1>

<div class="outline">
  <%= render "form", note: @note %>
</div>

<hr>
<div class="nav-links">
  <%= link_to "Show this note", [@work, @note], class: "nav-button"  %>
  <%= link_to "Back to notes", work_notes_path(@work), class: "nav-button"  %>
</div>
