<h1>New note</h1>

<div class="outline">
  <%= render "form", note: @note %>
</div>

<div class="nav-links outline">
  <%= link_to "Back to Notes", work_notes_path(@work), class: "nav-button"  %>
</div>
