<b class="minor-heading">New note</b>

<div class="outline">
  <%= render "form", note: @note %>
</div>
<hr>
<div class="nav-links">
  <%= link_to "Back to Notes", work_notes_path(@work), class: "nav-button"  %>
</div>
