<b class="minor-heading">New reading session</b>

<div class="outline">
  <%= render "form", reading_session: @reading_session %>
</div>

<div class="nav-links">
  <%= link_to "Back to reading sessions", work_reading_sessions_path(@work), class: "nav-button" %>
</div>