<%# index views %>
<div id="<%= dom_id work %>">
  <%= full_title_line(work) %> |
  <%= rating = rating_stars(work) %>
  <% if rating.present? %>
    |
  <% end %>
  <%= link_to "👉", work, class: "index-link" %>
  &nbsp;
</div>
