<% if @works.empty? %>
  <div class="div-list-row empty-list">EMPTY</div>
<% else %>
  <% @works.each_with_index do |work, i| %>
    <% class_list = ["div-list-row"]; class_list << "alt-row" if i.even? %>
    <%= tag.div(**{ class: class_list }) do %>
      <%= render work %>
    <% end %>
  <% end %>
<% end %>