<h1>Editing Book</h1>

<div class="outline">
  <%= render "form", work: @work %>
</div>

<hr>
<div class="nav-links">
  <%= link_to "Back to books", works_path, class: "nav-button" %>
  <%= link_to "Back to top", root_path, class: "nav-button" %>
  <%= link_to "Show this work", @work, class: "nav-button" %>
</div>
