<h1>Editing work</h1>
<div class="outline">
  <%= render "form", work: @work %>
</div>
<div class="nav-links outline">
  <%= link_to "Show this work", @work, class: "nav-button" %> |
  <%= link_to "Back to works", works_path, class: "nav-button" %> |
  <%= link_to "Back to top", root_path, class: "nav-button" %>
</div>
