<b class="minor-heading">New work</b>

<div class="outline">
  <%= render "form", work: @work %>
</div>

<hr>
<div class="nav-links">
  <%= link_to "Back to Books", works_path, class: "nav-button" %>
  <%= link_to "Back to Top", root_path, class:"nav-button" %>
</div>
