<div id="form-errors" data-controller="dismissable">
  <% if form.object.errors.any? %>
  <div class="dismissableDiv">
    <%= pluralize(form.object.errors.count, "error") %> prohibited this object from being saved:
    <ul>
      <% form.object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>      
    </ul>
    <div id="dismiss-button" data-action="click->dismissable#dismissErrors">
      Dismiss
    </div>
  </div>
  <% end %>
</div>