<% if @publishers.empty? %>
  <div class="div-list-row empty-list">EMPTY</div>
<% else %>
  <% @publishers.each do |publisher| %>
    <%= tag.div(**{ class: cycle("div-list-row", "div-list-row alt-row") }) do %>
      <%= publisher.name %>
      <span class="horizontal-spacer"></span>
      <span class="stars"><%= publisher.works_count || 0 %></span>
      <span class="horizontal-spacer"></span>
      <%= link_to "👉", publisher, class: "index-link" %>
    <% end %>
  <% end %>
<% end %>