<h1>Editing publisher</h1>

<div class="outline">
  <%= render "form", publisher: @publisher %>
</div>

<div class="nav-links outline">
  <%= link_to "Show this publisher", @publisher, class: "nav-button" %> |
  <%= link_to "Back to publishers", publishers_path, class: "nav-button" %> |
  <%= link_to "Back to top", root_path, class: "nav-button", class: "nav-button" %>
</div>
