<p style="color: green"><%= notice %></p>
<h1>Publishers</h1>

<div class="outline">
  <ul id="publishers">
    <% if @publishers.empty? %>
      <span class="empty-list">EMPTY</span>
    <% else %>
      <% @publishers.each do |publisher| %>
        <li>
          <%= render publisher %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="nav-links outline">
  <%= link_to "New publisher", new_publisher_path, class: "link-button"  %>
  <%= link_to "Back to top", root_path, class:"nav-button" %>
</div>
