<b class="minor-heading">New publisher</b>

<div class="outline">
  <%= render "form", publisher: @publisher %>
</div>
<hr>
<div class="nav-links">
  <%= link_to "Back to Publishers", publishers_path, class: "nav-button" %>
  <%= link_to "Back to Top", root_path, class:"nav-button" %>
</div>
