<h1>New publisher</h1>

<div class="outline">
  <%= render "form", publisher: @publisher %>
</div>

<div class="nav-links outline">
  <%= link_to "Back to publishers", publishers_path, class: "nav-button" %>
</div>
