<h1>BOOKSHELF</h1>

<p>
A personal library catalog app
</p>

<div class="nav-links outline">
  <%= link_to("Books", works_path, class: "nav-button") %>
  <%= link_to("Authors", producers_path, class: "nav-button") %>
  <%= link_to("Publishers", publishers_path, class: "nav-button") %>
</div>