<h1>BOOKSHELF</h1>

<p>A personal library catalog app</p>

<hr>
<div class="nav-links">
  <%= link_to("Books", works_path, class: "nav-button") %>
  <%= link_to("Authors", producers_path, class: "nav-button") %>
  <%= link_to("Publishers", publishers_path, class: "nav-button") %>
  <%= link_to("Quotes", quotes_path, class: "nav-button") %>
</div>