<% if @producers.empty? %>
  <div class="div-list-row empty-list">EMPTY</div>
<% else %>
  <% @producers.each do |producer| %>
    <%= tag.div(**{ class: cycle("div-list-row", "div-list-row alt-row") }) do %>
      <%= render producer %>
    <% end %>
  <% end %>
<% end %>