<div id="<%= dom_id producer %>">
  <%= "#{producer.full_name} #{common_era_span(producer.year_of_birth, producer.year_of_death)}" %>

  <span class="horizontal-spacer"></span>

  <span class="stars">
  <%= (producer.works_count || 0) %>
  </span>
  
  <span class="horizontal-spacer"></span>

  <%= link_to "👉", producer, class: "index-link" %>
</div>