<b class="minor-heading">Editing Author</b>
<div class="outline">
  <%= render "form", producer: @producer %>
</div>
<hr>
<div class="nav-links">
  <%= link_to "Back to Authors", producers_path, class: "nav-button" %>
  <%= link_to "Back to Top", root_path, class: "nav-button" %>
  <%= link_to "Show", @producer, class: "nav-button" %>
</div>
