<h1>Editing Author</h1>
<div class="outline">
  <%= render "form", producer: @producer %>
</div>

<div class="nav-links outline">
  <%= link_to "Back to authors", producers_path, class: "nav-button" %> |
  <%= link_to "Back to top", root_path, class: "nav-button" %> |
  <%= link_to "Show this author", @producer, class: "nav-button" %>
</div>
