<div class="outline">
  <b class="minor-heading">New Author</b>
  <%= render "form", producer: @producer %>
</div>
<hr>
<div class="nav-links">
  <%= link_to "Back to authors", producers_path, class: "nav-button" %>
  <%= link_to "Back to top", root_path, class: "nav-button" %>
</div>
