<%= turbo_stream.append "new_producers_list" do %>

  <div style="border: 1px solid #ccc; padding: 1em; width: 12em; margin-bottom:1em;">
    <label for="work_producers_attributes_0_name">Name</label>

    <input list="producers_autocomplete"
           type="text"
           name="work[producers_attributes][0][name]"
           id="work_producers_attributes_0_name">

    <datalist id="producers_autocomplete">
      <%= options_for_select(@producer_options) %>
    </datalist>

    <br>
  </div>

<% end %>