/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {

  /* https://uxplanet.org/alternatives-to-using-pure-black-000000-for-text-and-backgrounds-54ef0e733cdb */
  --color-black: rgb(18, 19, 20);
  --color-white: rgb(255, 254, 253);

  --color-dark-blue: rgb(46 120 123); 
  --color-light-blue: rgb(46 120 123 / 10%);

  --color-dark-red: rgb(209 14 14);
  --color-light-red: rgb(209 14 14 / 10%);

  --color-dark-orange: rgb(183 60 60);
  --color-light-orange: rgb(183 60 60 / 10%);

  --color-dark-green: rgb(32 164 28);
  --color-light-green: rgb(32 164 28 / 10%);

  --color-dark-beige: rgb(139, 139, 131);
  --color-light-beige: rgb(245, 245, 220);

  --color-dark-purple: rgb(147 112 216);
  --color-light-purple: rgb(147 112 216 / 10%);

  --center-gradient-light-beige: linear-gradient(to right, var(--color-white) 0%, var(--color-light-beige) 5%, var(--color-white) 100%);
  --center-gradient-light-blue: linear-gradient(to right, var(--color-white) 0%, var(--color-light-blue) 5%, var(--color-white) 100%);

  --left-gradient-light-blue: linear-gradient(to right, var(--color-light-blue), var(--color-white));
  --left-gradient-light-green: linear-gradient(to right, var(--color-light-green), var(--color-white));
  --left-gradient-light-red: linear-gradient(to right, var(--color-light-red), var(--color-white));
}