body {
  font-family: sans-serif;
}

.indented {
  margin-left: 1em;
}

.outline {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

.small-text {
  font-size: smaller;
}

hr {
  border: 2px solid aliceblue;
}

ul.associated-items li {
  margin-bottom: 1em;
}

.cloud-list {
  display: flex;
}

.model-tag {
  background-color: honeydew;
  border: 2px solid darkseagreen;
  color: darkseagreen;
  border-radius: 8px;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  width: fit-content;
}

.model-tag span {
  text-align: center;
  padding: 0.2em 0.4em;
  border-radius: 8px;
}

.model-tag .model-tag-count {
  background-color: honeydew;
  border-radius: 0px 8px 8px 0px;
  border-left: 2px solid darkseagreen;
}

.model-tag.all-tag {
  background-color: floralwhite;
  border: 2px solid orange;
  color: orange;
}

.model-tag.all-tag .model-tag-count {
  background-color: floralwhite;
  border-radius: 0px 8px 8px 0px;
  border-left: 2px solid orange;
}

.danger {
  color: red;
}

.clickable {
  cursor: pointer;
}

.book-card {
  background-color: aliceblue;
}

a.search-button {
  text-decoration: none;
  padding: 0.18em 0.4em;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
  font-size: smaller;
  background-color: honeydew;
}

input.search-box {
  border: 1px solid #ccc;
  background-color: yellow;
  padding: 0.18rem;
  font-size: smaller;
}

.stars {
  background-color: aliceblue;
  padding: 0.1rem;
  border: 1px solid #ccc;
  font-size: smaller;
  color: mediumpurple;
}
