.indented {
  margin-left: 1em;
}

.outline {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

.small-text {
  font-size: smaller;
}

hr {
  border: 2px solid aliceblue;
}

ul.associated-items li {
  margin-bottom: 1em;
}
