html {
}

body {
  font-family: sans-serif;
  padding: 1rem;
  
  color:  var(--color-black);
  background-color: var(--color-white);
}

.indented {
  margin-left: 1em;
}

.outline {
  border: 1px solid var(--color-dark-beige);
  padding: 1em;
  margin-bottom: 1em;
}

.small-text {
  font-size: smaller;
}

hr {
  border: 2px solid var(--color-light-beige);
}

ul.associated-items li {
  margin-bottom: 1em;
}

.cloud-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.model-tag {
  background-color: var(--color-light-green);
  border: 2px solid var(--color-dark-green);
  color: var(--color-dark-green);
  border-radius: 8px;
  /* margin-right: 0.5em; */
  display: flex;
  width: fit-content;
}

.model-tag span {
  text-align: center;
  padding: 0.2em 0.4em;
  border-radius: 8px;
}

.model-tag .model-tag-count {
  background-color: var(--color-light-green);
  border-radius: 0px 8px 8px 0px;
  border-left: 2px solid var(--color-dark-green);
}

.model-tag.all-tag {
  background-color: var(--color-light-orange);
  border: 2px solid var(--color-dark-orange);
  color: var(--color-dark-orange);
}

.model-tag.all-tag .model-tag-count {
  background-color: var(--color-light-orange);
  border-radius: 0px 8px 8px 0px;
  border-left: 2px solid var(--color-dark-orange);
}

.danger {
  color: var(--color-dark-red);
}

button.danger {
  border-color: var(--color-dark-red);
}

.clickable {
  cursor: pointer;
}

.book-card {
  background-color: var(--color-light-beige);
  border-color: var(--color-dark-beige);
}

.quote-card {
  background-color: var(--color-light-beige);
  border-color: var(--color-dark-beige);
}

a.search-button {
  text-decoration: none;
  padding: 0.18em 0.4em;
  margin-right: 0.5rem;
  font-size: smaller;
  background-color: var(--color-light-blue);
  border: 1px solid var(--color-dark-blue);
  color: var(--color-dark-blue)
}

input.search-box {
  border: 1px solid var(--color-dark-beige);
  background-color: var(--color-light-beige);
  padding: 0.18rem;
  font-size: smaller;
}

.stars {
  background-color: var(--color-light-purple);
  padding: 0.1rem;
  border: 1px solid var(--color-dark-purple);
  font-size: smaller;
  color: var(--color-dark-purple);
}

.bibliography-citation {
  font-family: "Times New Roman", Times, serif;
    /* TODO: space under label */
    margin-top: 0.5rem;
}

.quote-card {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--color-light-beige);
  border-color: var(--color-dark-beige);

  /* TODO: space under label */
  margin-top: 0.5rem;
}

.quote-card p,
.bibliography-citation p {
  margin: unset;
}

ul.associated-items {
  margin: auto;
}

ul.associated-items li {
  margin-bottom: auto;
}

.div-list-row {
  padding: 0.5rem;
}

.div-list-row.alt-row {
  background-color: var(--color-light-beige);
}

.div-list-row.empty-list {
  color: var(--color-dark-beige);
}

#metrics {
  /* outline: 1px solid var(--color-dark-red); */
}

#metrics .div-list-row {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

#metrics .div-list-row .metric-label {
  text-align: right;
  flex: 20%;
}

#metrics .div-list-row .metric-result {
  flex: 80%;
}


.scrollable {
  max-height: 60vh;
  overflow: auto;
}

b.minor-heading,
b.major-heading,
h1.max-heading {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: larger;

  background-image: linear-gradient(to right, var(--color-light-blue), var(--color-white));
  
  color: var(--color-dark-blue);
  padding: 0.5rem;
}

b.major-heading,
h1.max-heading {
  font-size:xx-large;
  margin: unset;
}

#tabbed-summaries .tab {
  display: inline-block;
  border-bottom: none;
  padding: 0.5rem;
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
  cursor: pointer;
}

#tabbed-summaries .tab.tab-selected {
  border-top: 1px solid var(--color-dark-blue);
  border-left: 1px solid var(--color-dark-blue);
  border-right: 1px solid var(--color-dark-blue);

  background-color: var(--volor-white);
}

#tabbed-summaries .tab-content {
  display: none;
}

#tabbed-summaries .tab-content.tab-content-selected {
  display: block;
}

.tab-content#graph {
  padding-top: 1rem;
}

span.horizontal-spacer {
  border-right: 1px solid var(--color-dark-beige);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

span.work-title-std {
  font-style: normal;
}

span.work-title-alt {
  font-style: italic;
}