body {
  font-family: sans-serif;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

ul.flex-outer {
  /*  */
}

/* left column labels */
.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

/* submit button */
.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: yellow;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}

/* rows */
.flex-outer li {
  margin-bottom: 1em;
}

#sub_form_list .subFormContainer,
#sub_form_list_publisher .subFormContainer {
  width: 25em;
}

input[type="text"],
textarea {
  padding: 0.5em;
  width: 100%;
}

input:read-only {
  background-color: aliceblue;
  border: 1px solid aliceblue;
}

input:read-write {
  background-color: yellow;
  border: 1px solid #ccc;
}

.subform-line {
  margin-bottom: 0.5em;
  display: flex;
}

.subform-line .label-column {
  flex-basis: 25%;
}

.subform-line select {
  width: 104%;
  padding: 0.5em;
  border: 1px solid #ccc;
  background-color: yellow;
}

a.link-button,
select.select-button {
  text-decoration: none;
  padding: 0.5em;
  border: 1px solid #ccc;
  background: floralwhite;
}

.label-text {
  font-size: smaller;
}

.bold-label {
  font-weight: 600;
  font-size: medium;
}

.danger {
  color: red;
}

.midline-offset {
  position: relative;
  top: 0.5em;
}

.clickable {
  cursor: pointer;
}
