/*
CSS GRID

https://webdesign.tutsplus.com/how-to-build-web-form-layouts-with-css-grid--cms-28776t

*/

form.table-form {
  display: grid;
  background: white;
  max-width: 800px;
}

@media (min-width: 400px) {
  form.table-form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  form.table-form > label,
  form.table-form .label-group {
    text-align: right;
    grid-column: 1 / 2;
  }

  form.table-form .label-group > label {
    display: block;
    margin-bottom: 1rem;
  }

  form.table-form .label-group > .link-button,
  form.table-form .label-group > .select-button {
    display: block;
    text-align: right;
    margin-bottom: 0.5rem;

    /* DEBUG: do this with flex */
    position: relative;
    right: -1.7rem;
  }

  form.table-form input[type="number"],
  form.table-form input[type="text"],
  form.table-form textarea,
  form.table-form input[type="submit"],
  form.table-form select {
    padding: 0.5rem;
    grid-column: 2 / 3;
    background-color: yellow;
    border: 1px solid #ccc;
  }

  form.table-form label {
    position: relative;
    top: 0.5rem;
    font-weight: 600;
  }

  form.table-form textarea {
    height: 80px;
    padding: 1rem;
  }

  form.table-form input[type="submit"] {
    width: 10rem;
    background-color: honeydew;
    font-weight: 600;
  }

  form.table-form .correct-width {
    width: 5rem;
  }

  form.table-form .correct-width-2 {
    /* width: 10rem; */
    width: 8.9rem;
  }

  /* IMPROVE */
  form.table-form .subFormContainer {
    font-size: small;
    padding: 0.75rem;
  }

  form.table-form .subform-line {
    margin-bottom: 0.5em;
    display: flex;
  }

  form.table-form .subform-line > b {
    flex: 10%;
    position: relative;
    top: 0.5rem;
  }

  form.table-form .subform-line input,
  form.table-form .subform-line select {
    flex: 90%;
  }

  form.table-form .subform-line input:read-only {
    background-color: aliceblue;
  }

  form.table-form .subform-line select {
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: yellow;
    position: relative;
    left: -1px;
  }

  form.table-form hr {
    width: 100%;
  }

  form.table-form .undo-label {
    background-color: floralwhite;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }

  form.table-form .undo-label b.danger {
    position: relative;
    bottom: 2px;
  }
}
