/*
CSS GRID

https://webdesign.tutsplus.com/how-to-build-web-form-layouts-with-css-grid--cms-28776t

*/

form.table-form {
  display: grid;
  max-width: 800px;
}

@media (min-width: 400px) {
  form.table-form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  form.table-form #form-errors {
    grid-column: 2/3;
  }

  form.table-form #form-errors .dismissableDiv {
    /* border: 2px solid var(--color-dark-red); */
    color: var(--color-dark-red);
    padding: 0.5rem;

    background-image: var(--left-gradient-light-red); 
  }

  form.table-form > label,
  form.table-form .label-group {
    text-align: right;
    grid-column: 1 / 2;
  }

  form.table-form .label-group > label {
    display: block;
    margin-bottom: 1rem;
  }

  form.table-form .label-group > .link-button,
  form.table-form .label-group > .select-button {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: fit-content;
  }

  form.table-form input[type="number"],
  form.table-form input[type="date"],
  form.table-form input[type="text"],
  form.table-form textarea,
  form.table-form input[type="datetime-local"],
  form.table-form input[type="submit"],
  form.table-form select {
    padding: 0.5rem;
    grid-column: 2 / 3;
    background-color: var(--color-light-beige);
    border: 1px solid var(--color-dark-beige);
  }

  form.table-form label {
    position: relative;
    top: 0.5rem;
    font-weight: 600;
  }

  form.table-form textarea {
    height: 80px;
    padding: 1rem;
  }

  form.table-form input[type="submit"] {
    width: 50%;
    background-color: var(--color-light-green);
    color: var(--color-dark-green);
    border-color: var(--color-dark-green);
    font-weight: 600;
  }

  form.table-form .correct-width {
    width: 5rem;
  }

  form.table-form .correct-width-2 {
    /* width: 10rem; */
    width: 8.9rem;
  }

  /* IMPROVE */
  form.table-form .subFormContainer {
    font-size: small;
  }

  form.table-form .subform-line {
    margin-bottom: 0.5em;
    display: flex;
  }

  form.table-form .subform-line > b {
    flex: 15%;
    position: relative;
    top: 0.5rem;
  }

  form.table-form .subform-line input,
  form.table-form
    .subform-line
    select
    form.table-form
    .subform-line
    .undo-label {
    flex: 85%;
  }

  form.table-form .subform-line input:read-only {
    background-color: var(--color-light-blue);
  }

  form.table-form .subform-line select {
    padding: 0.5em;
    border: 1px solid var(--color-dark-beige);
    background-color: var(--color-light-beige);

    /* make select box pixel perfect match for text box, on build_producer.turbo view. */
    /* Why is this necessary? */
    width: calc(85% + 19px);
  }

  form.table-form hr {
    width: 100%;
  }

  form.table-form .subform-line .undo-label {
    width: auto;
    background-color: var(--color-light-red);
    padding: 0.5rem;
    border: 1px solid var(--color-dark-blue);
  }

  form.table-form .subform-line .undo-label .clickable {
    position: relative;
    top: 0.1rem;
  }

  form.table-form .undo-label b.danger {
    position: relative;
    bottom: 2px;
  }
}

form.table-form option.bold {
  font-weight: bold;
}