.nav-links {
  /* DEBUG: why is 1.5 needed, to look like 1? */
  padding: 1.5rem 1.5rem 1.5rem 1rem;
}

.nav-links a,
a.index-link {
  color: darkseagreen;
  text-decoration-thickness: 2px;
  text-decoration-skip: edges;
}

.nav-links a[data-method="delete"] {
  color: red;
}

.empty-list {
  opacity: 50%;
}

/* .link-button {} */

.nav-button {
  text-decoration: none;
  padding: 0.5em;
  border: 1px solid #ccc;
  background: aliceblue;
}
