.nav-links {
  /* padding: 0.8em; */
}

.nav-links a,
a.index-link {
  color: var(--color-dark-blue);
  text-decoration-thickness: 2px;
  text-decoration-skip: edges;
  text-decoration-color: var(--color-light-blue);

  /* ensure consistency between <%= link_to() %> and <%= button_to() %> */
  display: inline-block;
}

a.index-link:hover {
  background-color: var(--color-light-blue);
  text-decoration-color: var(--color-dark-blue);
}

.nav-links a[data-method="delete"] {
  color: var(--color-dark-red);
}

.empty-list {
  opacity: 50%;
}

.nav-button {
  text-decoration: none;
  padding: 0.5em;
  border: 1px solid var(--color-dark-blue);
  background: var(--color-light-blue);
  margin-right: 0.29rem;
}

/* decorate .nav-button */
/* DEPRECATE */
.nav-action {
  background: var(--color-light-red);
}

a.nav-action-safe {
  background-color: var(--color-light-green);
  color: var(--color-dark-green);
  border-color: var(--color-dark-green);
}

a.link-button,
select.select-button {
  font-size: small;
  font-weight: 500;
  text-decoration: none;
  padding: 0.21em;
  color: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  background: var(--color-light-blue);
}

select.select-button {
  width: 7rem;
}

form.table-form select.select-button {
  width: auto;
}

/* TODO: fix this */
form.table-form a.link-button {
  width: 11.1rem;
}


/* actual <button> tag required for delete links */
button.nav-button.nav-action.nav-button-to {
  font-size: unset;
}

a.non-link {
  text-decoration: none
}

.user-nav-links button.danger {
  background-color: var(--color-light-red);
}

#works-collection .search-button {
  margin-right: unset;
}